.graph-container {
	position: relative;
	position: absolute;

	bottom: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	display: flex;

	/* border: 3px rgba(250, 243, 235, 1) solid; */
	padding-right: 10px;
	overflow: visible;

	color: rgba(250, 243, 235, 1);
	justify-content: flex-end;

	z-index: 1;
}

.line-graph-container {
	z-index: 300;
	background: none;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: visible;
}

.line-graph-point {
	transform: rotate(-45deg);
	width: 4px;
	height: 4px;
	background-color: tomato;
	border: red  1px solid;
	box-shadow: 0 0 0 1px black;
	position: absolute;

	z-index: 400;
}

.graph-bar {
	box-shadow: 0 0 0 .1px black;
}

.graph-info-box {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-self: flex-end;

	opacity: 0.9;
}

.graph-info-box > div:nth-of-type(n + 2) {
	margin-top: -13px;
	background: rgba(250, 243, 235, 0.4);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;

    text-shadow: 1px 1px 0 black;
}

.graph-info-box > div:nth-of-type(2) {
	background-color: rgba(247, 26, 0, 0.7);
	z-index: 14;
	margin-top: 5px;
}
.graph-info-box > div:nth-of-type(3) {
	background-color: rgba(255, 237, 48, 0.7);
	z-index: 13;
}
.graph-info-box > div:nth-of-type(4) {
	background-color: rgba(0, 135, 57, 0.7);
	z-index: 12;
}
.graph-info-box > div:nth-of-type(5) {
	background-color: rgba(102, 51, 153, 0.7);
	z-index: 11;
}
